


<header class="site-header" role="banner">
  <div class="wrapper navbar-container">
    <div class="navbar-left">
      <a href="{{ site.baseurl }}/" class="site-logo-link">
        <img src="{{ site.baseurl }}/assets/images/logo.png" alt="InsideOut Logo" class="site-logo">
        <span class="site-title">{{ site.title }}</span>
      </a>
    </div>

    <nav class="navbar-right">
      {%- for item in site.nav -%}
      <a class="page-link{% if page.url == item.url %} active{% endif %}" href="{{ item.url | relative_url }}">{{ item.title }}</a>
      {%- endfor -%}
    </nav>
  </div>
</header>